<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .container {
            display: flex;
            justify-content: space-around;
        }
        .table {
            border: 1px solid #000;
            padding: 10px;
            margin: 10px;
        }
        .table h2 {
            text-align: center;
        }
        .table ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        .table li {
            margin-bottom: 5px;
        }
        
    </style>
</head>
<body>
    <div class="container">
        <div class="table"> 
            <h2 id="friendsListHeader">Friends</h2>
            <ul id="friendsList">
            </ul>
        </div>
        <div id="friendRequestsList"  class="table">
            <h2 id="friendRequestsHeader">Friend Requests</h2>
            <ul id="friendRequestsList">
                
            </ul>
        </div>
    </div>
    
    <div>
        <a >accept</a>
        <a >deny</a>
    </div>

        <form id="addUserForm">
            <input id="sendFriendRequestInput" type="text" placeholder="add user" required/><br>
            <button type="button" onclick="sendFriendRequest()" >send</button>
        </form>
        <div id="requestStatusDiv" ></div>
        <div id="outputDiv" ></div>
        <div id="friendRequestStatusDiv" ></div>
    </body>
    <script>
        //show friends and pending friend requests;
        //check for token validate token
        //get friends list
        //send friend requests 
        
        const token=localStorage.getItem("Token");
        const outputDiv=document.getElementById("outputDiv");
        let tokenValid=false;

        if(token === null){
            outputDiv.innerHTML="Login required";
            const anchorElement=document.createElement("a");
            anchorElement.href="localhost:8080/users/login";
            anchorElement.text="login";
            outputDiv.appendChild(anchorElement);
        }
        
        function isEmpty(s){
            return s.length === 0 ? true:false;
        }
        async function checkToken(){
            if(token === null) return;
             
            const xhttp=new XMLHttpRequest();

            xhttp.onreadystatechange=()=>{
                if(xhttp.readyState === 4){
                    const status=xhttp.status;
                    if(status === 200){
                        tokenValid=true;
                        return;
                    } 
                    if(status === 500){
                        outputDiv.innerHTML="Server Error 500";
                    }
                    if(status === 401){
                        const anchorElement=document.createElement("a");
                        anchorElement.href="localhost:8080/users/login";
                        anchorElement.text="login";
                        outputDiv.appendChild(anchorElement);
                        outputDiv.innerHTML="Login Required";
                    }else{
                        console.log("Unknown status "+status);
                    }
                }

            }
            xhttp.open("POST","http://localhost:8080/users/verifytoken",true);
            xhttp.setRequestHeader("Token",token);
            xhttp.send();
        }
        checkToken(); 
    
        class Node{
            constructor(data){
                this.data=data;
                this.prev=null;
                this.next=null
            }
        }

        class LinkedList{
            constructor(){
                this.head=null;
                this.tail=null;
                this.length=0;
            }

            add(data){
                const newNode=new Node(data);
                if(this.head === null){
                    this.head=newNode;
                    this.tail=this.head;
                    this.length++;
                    return this;
                }else{
                    this.tail.next=newNode;
                    newNode.prev=this.tail;
                    this.tail=newNode;
                    this.length++;
                    return this;
                }
            }

            pop(){
                if(this.head === null){
                    return;
                }else{
                
                this.tail=this.tail.prev;
                this.tail.next=null;
                this.length--;
                }
            }

            get(index){
                if(index < this.length && index>=0 ){
                    let temp=this.head;
                    for(let i=0;i<index;i++){
                       temp=temp.next; 
                    }
                    return temp.data;
                }else{
                    throw new RangeError("Index out of bounds");
                }
            
            }
            removeAt(index){
                if(index < this.length && index >= 0){
                    if(index === this.length-1){
                        this.pop();
                        return;
                    }
                    if(index === 0){
                        this.head=this.head.next;
                        this.length--;
                        return;
                    }
                    let temp=this.head;
                    for(let i=0;i<index;i++){
                       temp=temp.next; 
                    }
                    temp.prev=temp.next;
                    temp.next.prev=temp.prev;
                    temp=null;
                    this.length--;
                }else{
                    throw new RangeError("Index out of bounds");
                }
            }
            
        }

        
        let friendsListDiv=document.getElementById("friendsList");
        let friendRequestDiv=document.getElementById("friendRequestsList");
        const friendRequestsList=new LinkedList();
        const friendsList=new LinkedList();

        setTimeout(()=>{
            if(tokenValid){
                fetchFriendsList();
                fetchPendingFriendRequests();
            }
        },800);

        async function fetchFriendsList(){
            if(!tokenValid) {
                return;
            } 

            const xhttp=new XMLHttpRequest();

            xhttp.onreadystatechange=()=>{
                if(xhttp.readyState === 4){
                    const status=xhttp.status;
                    if(status === 200){
                        
                        const friendsListJSON=JSON.parse(xhttp.response);
                        
                        if(friendsListJSON.length === 0){
                            const e=document.getElementById("friendsListHeader");
                            e.innerText="Friends 0";
                            return;
                        }
                        for(let i=0;i<friendsListJSON.length;i++){
                            //id,username,email,online
                            const friend=friendsListJSON[i];

                            const friendDiv=document.createElement("div");
                            friendDiv.id=friend.userID;
                            
                            const username=document.createElement("a");
                            username.href=`http://localhost:8080/users/getuser/${friend.username}`;
                            username.text=friend.username;
                            friendDiv.appendChild(username);

                            const id=document.createElement("div");
                            id.innerText=friend.userID;
                            friendDiv.appendChild(id);
                            
                            const email=document.createElement("div");
                            email.innerText=friend.emailID;
                            friendDiv.appendChild(email);
                            
                            const online=document.createElement("div");
                            online.innerText=friend.online;
                            friendDiv.appendChild(online);
                            
                            const fList=document.createElement("li");
                            fList.id=friend.userID;
                            fList.appendChild(friendDiv);

                            friendsList.add(friendDiv);
                            friendsListDiv.appendChild(fList);
                        } 
                    } 
                    else if(status === 500){
                        outputDiv.innerHTML="Server Error 500";
                    }
                    else if(status === 401){
                        const anchorElement=document.createElement("a");
                        anchorElement.href="localhost:8080/users/login";
                        anchorElement.text="login";
                        outputDiv.appendChild(anchorElement);
                        outputDiv.innerHTML="Login Required";
                    }else{
                        console.log("Unknown status "+status);
                    }

                }
            }
            xhttp.open("GET","http://localhost:8080/users/getFriends",true);
            xhttp.setRequestHeader("Token",token);
            xhttp.send();
        } 
        fetchFriendsList();


        async function fetchPendingFriendRequests(){
            if(!tokenValid) return; 
            
            const xhttp=new XMLHttpRequest();
            xhttp.onreadystatechange=()=>{
                if(xhttp.readyState === 4){
                    const status=xhttp.status;
                    if(status === 200){
                        
                        const requestList=JSON.parse(xhttp.response);
                        
                        
                        if(requestList.length === 0){
                            const e=document.getElementById("friendRequestsHeader");
                            e.innerText="Friend Requests 0";
                            return;
                        }
                        
                       
                        for(let i=0;i<requestList.length;i++){
                            //id,username,email,online
                            const request=requestList[i];

                            const requestDiv=document.createElement("div");
                            requestDiv.id=i;

                            const requestText=document.createElement("div");
                            requestText.innerText=request.senderUsername+" "+request.createdAt;
                            requestDiv.appendChild(requestText);
                            
                            const acceptButton=document.createElement("button");
                            acceptButton.type="button";
                            acceptButton.innerText="accept";
                            acceptButton.onclick=()=>{acceptFriendRequest(request.fromUserID,request.senderUsername,i)};
                            requestDiv.appendChild(acceptButton);

                            const denyRequestButton=document.createElement("button");
                            denyRequestButton.type="button";
                            denyRequestButton.innerText="deny";
                            // denyRequestButton.onclick=()=>{denyFriendRequest()};
                            requestDiv.appendChild(denyRequestButton);

                            friendRequestsList.add(requestDiv);
                            friendRequestDiv.appendChild(requestDiv);
                        } 
                    } 
                    else if(status === 500){
                        outputDiv.innerHTML="Server Error 500";
                    }
                    else if(status === 401){
                        const anchorElement=document.createElement("a");
                        anchorElement.href="localhost:8080/users/login";
                        anchorElement.text="login";
                        outputDiv.appendChild(anchorElement);
                        outputDiv.innerHTML="Login Required";
                    }else{
                        console.log("Unknown status "+status);
                    }

                }
        }
        xhttp.open("GET","http://localhost:8080/users/getPendingFriendRequests",true);
        xhttp.setRequestHeader("Token",token);
        xhttp.send();
    }
    fetchPendingFriendRequests();        

    async function sendFriendRequest(){
        if(!tokenValid) return; 
            
        const toUsername=document.getElementById("sendFriendRequestInput").value;
            
        if( isEmpty(toUsername)){
                requestStatusDiv.innerHTML="empty fields";
                return;
        }
            
            const xhttp=new XMLHttpRequest();
            const requestStatusDiv=document.getElementById("requestStatusDiv");
            xhttp.onreadystatechange=()=>{
                if(xhttp.readyState === 4){
                    const status=xhttp.status;
                    const responseBody=xhttp.response;
                    requestStatusDiv.innerText=responseBody;
                    // if(status === 200){
                    //     requestStatusDiv.innerText="Request sent 200";
                    // }
                    // else if(status === 500){
                    //     requestStatusDiv.innerText="Server Error 500";
                    // }else{
                    //     requestStatusDiv.innerText="Unknown error "+status;
                    // }
                }
            }

            xhttp.open("POST","http://localhost:8080/users/sendFriendRequest",true);
            xhttp.setRequestHeader("Token",token);
            xhttp.setRequestHeader("Content-Type","application/x-www-form-urlencoded");
            xhttp.send(`ToUsername=${toUsername}`);
        }

        async function acceptFriendRequest(fromUserID,username,index){
            if(!tokenValid) return; 
            
            const fsDiv=document.getElementById("friendRequestStatusDiv");
            fsDiv.innerText="";

            if(isEmpty(username)){
                fsDiv.innerText="Bad Element";
                return;
            }

            const xhttp=new XMLHttpRequest();

            xhttp.onreadystatechange=()=>{
                if(xhttp.readyState === 4){
                    if(xhttp.status === 200){
                        addFriendToList(fromUserID,index);
                    }else{
                        setTimeout(()=>{
                            fsDiv.innerText=xhttp.response+" "+xhttp.status;
                        },1000);
                    }

                }
            }

            xhttp.open("POST",`http://localhost:8080/users/acceptFriendRequest?username=${username}`,true);
            xhttp.setRequestHeader("Token",token);
            xhttp.send();
        }

        function findNode(list,index){
            for(let i=0;i<list.length;i++){
                if(list[i].id === index){
                    return list[i];
                }
            }
            outputDiv.innerText="Node not found";
            return null;
        }
        
        async function addFriendToList(userID,index){
            if(userID === undefined){
                console.log("userID undefined");
                return;
            }
            const xhttp=new XMLHttpRequest();

            const fsDiv=document.getElementById("friendRequestStatusDiv");
            xhttp.onreadystatechange=()=>{
                if(xhttp.readyState === 4){
                    if(xhttp.status === 200){

                    const friend=JSON.parse(xhttp.response);
                        setTimeout(()=>{

                            const friendDiv=document.createElement("div");
                            friendDiv.id=friend.userID;
                            
                            const username=document.createElement("a");
                            username.href=`http://localhost:8080/users/getuser/${friend.username}`;
                            username.text=friend.username;
                            friendDiv.appendChild(username);

                            const id=document.createElement("div");
                            id.innerText=friend.userID;
                            friendDiv.appendChild(id);
                            
                            const email=document.createElement("div");
                            email.innerText=friend.emailID;
                            friendDiv.appendChild(email);
                            
                            const online=document.createElement("div");
                            online.innerText=friend.online;
                            friendDiv.appendChild(online);
                            
                            const fList=document.createElement("li");
                            fList.id=friend.userID;
                            fList.appendChild(friendDiv);
                            let a=[];
                            
                            friendsList.add(friendDiv);
                            friendsListDiv.appendChild(fList);
                            
                            friendRequestDiv.removeChild(friendRequestsList.get(index));
                            friendRequestsList.removeAt(index);
                            fsDiv.innerText="OK";
                        },500);
                    }else{
                        fsDiv.innerText="Error";
                    } 

                }
            }

            xhttp.open("GET",`http://localhost:8080/users/getOneFriend?userID=${userID}`,true);
            xhttp.setRequestHeader("Token",token);
            xhttp.send();
        }

    </script>
</html>