<!DOCTYPE html>
<html> 
    <body>
        <h1>Home</h1><br>
        <div id="linkDiv" ></div><br>
        <div id="outputDiv"></div>
    </body>

    <script>
        const token=localStorage.getItem("Token");
        const outputDiv=document.getElementById("outputDiv");
        
        if(token !== null){
            checkTokenValid();
        }else{
            const newElement=document.createElement("a");
            newElement.href="http://localhost:8080/users/login"; 
            newElement.id="loginLink";
            newElement.text="login";
                
            // const parentElement=document.getElementById("div1");
            document.body.appendChild(newElement);
        }

        async function checkTokenValid(){
            const xhttp=new XMLHttpRequest();
            xhttp.onreadystatechange=()=>{
                    if(xhttp.readyState === 4){
                        const status=xhttp.status;
                        if(status === 200){
                            const newElement=document.createElement("a");
                            newElement.href="http://localhost:8080/chat";
                            newElement.id="chatLink";
                            newElement.text="chat";
                            
                            // const parentElement=document.getElementById("linkDiv");
                            document.body.appendChild(newElement);
                            // document.body.insertBefore(newElement,parentElement);

                        }else if(status === 500){
                            //hanlde server error
                            ouputDiv.innerHTML=500+" Server Error";
                        }else if(status === 401){
                            const newElement=document.createElement("a");
                            newElement.href="http://localhost:8080/users/login"; 
                            newElement.id="loginLink";
                            newElement.text="login"; 
                            
                            const parentElement=document.getElementById("linkDiv");
                            document.body.insertBefore(newElement,parentElement);

                        }else if(status === 400){
                            //handle bad request 
                            ouputDiv.innerHTML="400 Bad Request";
                        }
                    }
                }
                xhttp.open("POST","http://localhost:8080/users/verifytoken",true);
                xhttp.setRequestHeader("Token",token);
                xhttp.send();

        }

    </script>
</html>